-e git+https://github.com/catalystneuro/allen-oephys-to-nwb.git@e29c8dc8e5834d49312552b7fc05cde8bec96c58#egg=allen_to_nwb
-e git+https://github.com/catalystneuro/json-schema-to-dash-forms.git@67f589f6113cdc5e28809b8ca88727ec77b20ef0#egg=json_schema_to_dash_forms
hdmf @ git+https://github.com/hdmf-dev/hdmf.git@64c1c97ee73d66305006c34b57b9537fb9479635
-e git+https://github.com/catalystneuro/nwb-conversion-tools.git@cbfbdd88c554fc3c4df6d8c6e6fd204b90c503bb#egg=nwb_conversion_tools
argon2-cffi==20.1.0
asciitree==0.3.3
async-generator==1.10
attrs==19.3.0
backcall==0.2.0
bleach==3.1.5
certifi==2020.6.20
cffi==1.14.1
chardet==3.0.4
click==7.1.2
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
entrypoints==0.3
fasteners==0.15
Flask==1.1.2
Flask-Cors==3.0.8
h5py==2.10.0
idna==2.10
imageio==2.9.0
importlib-metadata==1.7.0
ipydatawidgets==4.0.1
ipykernel==5.3.4
ipympl==0.5.7
ipysheet==0.4.4
ipython==7.16.1
ipython-genutils==0.2.0
ipyvolume==0.5.2
ipywebrtc==0.5.0
ipywidgets==7.5.1
itsdangerous==1.1.0
jedi==0.17.2
Jinja2==2.11.2
jsonschema==3.2.0
jupyter-client==6.1.6
jupyter-core==4.6.3
jupyter-server==0.1.1
jupyterlab-pygments==0.1.1
kiwisolver==1.2.0
MarkupSafe==1.1.1
matplotlib==3.3.0
mistune==0.8.4
monotonic==1.5
nbconvert==5.6.1
nbformat==5.0.7
ndx-grayscalevolume==0.0.2
ndx-icephys-meta==0.1.0
networkx==2.4
notebook==6.1.0
numcodecs==0.6.4
numpy==1.19.1
nwbwidgets==0.4.0
packaging==20.4
pandas==1.1.0
pandocfilters==1.4.2
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.2.0
plotly==4.9.0
prometheus-client==0.8.0
prompt-toolkit==3.0.5
ptyprocess==0.6.0
pycodestyle==2.6.0
pycparser==2.20
Pygments==2.6.1
pynwb==1.3.3
pyparsing==2.4.7
pyrsistent==0.16.0
python-dateutil==2.8.1
pythreejs==2.2.0
pytz==2020.1
PyWavelets==1.1.1
PyYAML==5.3.1
pyzmq==19.0.2
requests==2.24.0
retrying==1.3.3
ruamel.yaml==0.16.10
ruamel.yaml.clib==0.2.0
scikit-image==0.17.2
scipy==1.5.2
Send2Trash==1.5.0
six==1.15.0
terminado==0.8.3
testpath==0.4.4
tifffile==2020.7.24
tornado==6.0.4
tqdm==4.48.0
traitlets==4.3.3
traittypes==0.2.1
urllib3==1.25.10
voila==0.1.21
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
zarr==2.4.0
zipp==3.1.0
dash-cool-components==0.1.2
dash-bootstrap-components
gunicorn==20.0.4