{% extends "base.html" %}
{% block styles %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
<link rel="stylesheet" href="{{url_for('static', filename='stylesheet.css')}}" />

{% endblock %}
{% block content %}
{% include "navbar.html" %}
<div class="container-fluid">
    <div class='row justify-content-center secondary'
        style="margin-top: 2%; margin-bottom:2%; border-bottom: solid 1px #f7f7f7;">
        <h1>NWB Web GUI</h1>
    </div>
    <div class="row justify-content-center">
        <div class='col-md-6 col-lg-2'>
            <div class="card">
                <div class="card-header">
                    <a href='/converter' class='cardLink'>
                        NWB Converter
                    </a>
                </div>
                <img src="{{ url_for('static', filename='logo_nwb_square.png') }}" class="card-img-top" alt="...">
                <div class="card-body">

                    <p class="card-text">User friendly metadata editing before converting your data to NWB.</p>

                </div>
            </div>
        </div>
        <div class='col-md-6 col-lg-2'>
            <div class="card">
                <div class="card-header">
                    <a href='/viewer' class='cardLink'>
                        NWB File Viewer
                    </a>
                </div>
                <img src="{{ url_for('static', filename='logo_nwb_square.png') }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Quickly explore your data with interactive NWB widgets.</p>
                </div>
            </div>
        </div>
        <div class='col-md-6 col-lg-2'>
            <div class="card">
                <div class="card-header">
                    <a href='/dashboard' class='cardLink'>
                        Custom Dashboards
                    </a>
                </div>
                <img src="{{ url_for('static', filename='logo_nwb_square.png') }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Customized Dashboards for NWB files.</p>
                </div>
            </div>
        </div>
        <div class='col-md-6 col-lg-2'>
            <div class="card">
                <div class="card-header">
                    <a href='https://www.nwb.org/' target='_blank' class='cardLink'>
                        Learn NWB
                    </a>
                </div>
                <img src="{{ url_for('static', filename='logo_nwb_square.png') }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Resources to learn more about NWB</p>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}