{% extends "base.html" %}
{% block styles %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
<link rel="stylesheet" href="{{url_for('static', filename='stylesheet.css')}}" />

{% endblock %}
{% block content %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/"><img img src="{{ url_for('static', filename='logo_nwb.png') }}"></img></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="/converter" style='color: #d7d7d7;'>NWB Converter</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/viewer" style='color: #d7d7d7;'>Viewer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/dashboard" style='color: #d7d7d7;'>Dashboard</a>
            </li>
        </ul>
    </div>
</nav>


{% endblock %}